@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
        @if(SessionDetails.SessionGuest != null)
        {
            <div>Logged in as @SessionDetails.SessionGuest!.Name</div> <a href="/LogOutPage" target="_self">Log Out</a>
        }
        else if(SessionDetails.IsLoggedIn == true)
        {
            <div>Logged in as Admin</div> <a href="/LogOutPage" target="_blank">Log Out</a>
        }
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<style>
    .divider{
    width:auto;
    height:5px;
    display:inline-block;
    }
</style>

@code
{
    private void LogOut()
    {
        SessionDetails.LogOut();
        NavigationManager.NavigateTo("", true);
    }
}